@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;  
}

body {
    height: 100vh;
    background-color: #000;
    color: #F6F6F6;
    box-sizing: border-box;
}

.portifolio{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10% 12.5%;
}

.portifolio__texto{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.portifolio__texto__titulo{
    font-family: Krona One, sans-serif;
    font-size: 36px;
}

.portifolio__texto__titulo--destaque{
    color: #22D4FD;
}

.portifolio__texto__descricao{
    font-family: Montserrat, sans-serif;
    font-size: 24px;
}

.portifolio__texto__divLink{
    display: flex;
    justify-content: space-between;
}

.portifolio__texto__divLink__social{
    background-color: #22D4FD;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-align: center;
    text-decoration: none;
    width: 280px;
}   